$o-theme-layout: "full";
//$o-theme-navbar-height: 300px;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Extend default color palettes with website-related colors
$-palettes: ();
@each $palette in $o-color-palettes {
  $-palettes: append(
    $-palettes,
    map-merge(
      (
        "body": #ffffff,
        "menu": #d6d0d5,
        "footer": #f9f9f9,
        "text": #212529,
        "alpha": #490a3d,
        "beta": #b4114a,
        "gamma": #f26507,
        "delta": #f8ca00,
        "epsilon": #f26507,
        "h1": null,
        // Default to text
        "h2":
          null,
        // Default to h1
        "h3":
          null,
        // Default to h2
        "h4":
          null,
        // Default to h3
        "h5":
          null,
        // Default to h4
        "h6":
          null,
        // Default to h5
      ),
      $palette
    )
  );
}

$o-color-palettes: $-palettes;

$o-theme-color-palettes: ();
@each $-palette in $-palettes {
  $o-theme-color-palettes: append(
    $o-theme-color-palettes,
    map-merge(
      $-palette,
      (
        "primary": map-get($-palette, "alpha"),
        "secondary": map-get($-palette, "beta"),
      )
    )
  );
}

// By default, all user color palette values are null. Each null value is
// automatically replaced with corresponding color of chosen color palette.
$o-user-color-palette: () !default;

// By default, all user theme color palette values are null. Each null value
// is automatically replaced with corresponding color of chosen theme color
// palette.
$o-user-theme-color-palette: () !default;

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: (
  (
    Ubuntu,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Noto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  ),
  (
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Noto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  ),
  // This is BS default
  ("Open Sans", sans-serif),
  ("Source Sans Pro", sans-serif),
  ("Raleway", sans-serif),
  ("Noto Serif", serif),
  ("Arvo", Times, serif)
) !default;
$o-theme-font-urls: (
  null,
  null,
  "Open+Sans:400,400i,700,700i",
  "Source+Sans+Pro:400,400i,700,700i",
  "Raleway:400,400i,700,700i",
  "Noto+Serif:400,400i,700,700i",
  "Arvo:400,400i,700,700i"
) !default;
$o-theme-font-names: (
  "Ubuntu",
  "Bootstrap",
  "Open Sans",
  "Source Sans Pro",
  "Raleway",
  "Noto Serif",
  "Arvo"
) !default;
$o-theme-font-number: 1 !default;
$o-theme-headings-font-number: 1 !default;
$o-theme-buttons-font-number: 1 !default;
$o-theme-navbar-font-number: 1 !default;
